{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('job-alert') }}

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('jobAlert') }}

{% endblock %}
{% block body %}
    <div class="bg-div js-table-data" data-jobs="{{ jobs | json_encode }}">
        <div class="m-3">
            <input type="text" id="search-input" class="form-control " placeholder="Rechercher" />
        </div>
        <div class=" d-flex flex-wrap " id="job-list">
            {% for job in jobs %}
                {{ include('_job_alert_card.html.twig') }}
            {% endfor %}
        </div>
    </div>
    <template id="cardTemplate">
        {% include '/_job_alert_card.html.twig' with { job: {} } | raw %}
    </template>
{% endblock %}
