
<div class="border rounded p-3 bg-white">
<h2>
    Apis de recherche d’emploi
</h2>
{% include "home/_dataTable.html.twig" with {'ths': ['Nom','Description','Nom de la fonction','url', ''], 'tableId': 'job-api-table'} %}
<hr>
{% include "admin/_form_api_services.html.twig" %}
</div>