{% extends 'base.html.twig' %}


{% block body %}
<div class="bg-div">
    {{ include('admin/action/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('admin/action/delete.html.twig') }}
</div>

{% endblock %}
