<div class="border rounded p-3  mb-3">
    <h2 class="text-end">
        <a href="{{ path('app_admin_job_service_new') }}">
            <i class="fa-solid fa-plus"></i>
        </a>
    </h2>
    {% include "home/_dataTable.html.twig" with {'ths': ['Nom', 'Impact',''], 'tableId': 'job-source-table'} %}
</div>