<div class="border rounded p-3  mb-3">
    <h2 class="text-end">
        <a href="{{ path('app_admin_action_new') }}">
            <i class="fa-solid fa-plus"></i>
        </a>
    </h2>
    {% include "home/_dataTable.html.twig" with {'ths': ['Nom', 'Action finale ?','Impact', ''], 'tableId': 'action-table'} %}
</div>