{% extends 'base.html.twig' %}
{% block body %}
    <div class="bg-div">
        <div>

            <div class="d-flex gap-3 align-items-center mb-3 flex-wrap">
                <img src="/assets/img/logo.webp" alt="brand logo" style="width: 300px; " =/>
                <div>
                    J'ai développé l'application
                    <em>
                        Job-Tracking
                    </em>
                    dans le but de faciliter la gestion des candidatures pour les chercheurs d'emploi. Face aux nombreux défis du suivi des candidatures, des actions en cours, et de la préparation aux entretiens, j'ai voulu créer un outil centralisé et intuitif.
                    <em>
                        Job-Tracking
                    </em>
                    permet aux utilisateurs de suivre l'évolution de leurs candidatures, de planifier des actions (comme les relances ou les entretiens), et d'analyser leur parcours à travers des statistiques personnalisées. Le but est de proposer un assistant numérique qui aide à mieux organiser et optimiser la recherche d'emploi.
                </div>
            </div>
            <div id="about" class="mt-3">
                <h2>
                    À propos de Job-Tracking
                </h2>
                <div>
                    <strong>
                        Job-Tracking
                    </strong>
                    est une application développée pour accompagner les chercheurs d'emploi
                        dans la gestion de leurs candidatures. Elle offre un espace dédié pour enregistrer, suivre, et analyser
                    chaque étape du processus de recrutement, depuis l'envoi d'une candidature jusqu'à la réponse finale.
                </div>
                <div>
                    Conçue pour être simple et efficace,
                    <strong>
                        Job-Tracking
                    </strong>
                    propose des fonctionnalités telles que :
                    <ul>
                        <li>
                            Suivi des candidatures en cours et passées.
                        </li>
                        <li>
                            Gestion des actions de relance et des entretiens.
                        </li>
                        <li>
                            Visualisation des statistiques et des progrès sur un tableau de bord personnalisé.
                        </li>
                        <li>
                            Stockage et gestion des CV pour un accès rapide.
                        </li>
                    </ul>
                </div>
                <div>
                    Cette application est un outil destiné aux personnes cherchant un moyen centralisé pour organiser leur recherche d'emploi,
                    gagner du temps, et se concentrer sur les objectifs essentiels.
                </div>
            </div>
            <div id="tech" class="mt-3">
                <h2>
                    Technologies utilisées
                </h2>
                <ul>
                    <li>
                        <strong>
                            Symfony
                        </strong>
                        : Framework PHP principal utilisé pour structurer l'application, gérer les requêtes et les réponses, et organiser les données.
                    </li>
                    <li>
                        <strong>
                            PHP
                        </strong>
                        : Langage de programmation côté serveur utilisé pour la logique de l'application.
                    </li>
                    <li>
                        <strong>
                            MySQL
                        </strong>
                        : Base de données pour stocker les informations des utilisateurs, les candidatures, les actions de suivi, et d'autres données essentielles.
                    </li>
                    <li>
                        <strong>
                            Twig
                        </strong>
                        : Moteur de template pour créer des vues dynamiques et une interface utilisateur propre.
                    </li>
                    <li>
                        <strong>
                            JavaScript (JQuery)
                        </strong>
                        : Pour ajouter de l'interactivité sur le front-end et faciliter la manipulation du DOM.
                    </li>
                    <li>
                        <strong>
                            Bootstrap
                        </strong>
                        : Framework CSS pour un design réactif et professionnel, facilitant le développement de l'interface utilisateur.
                    </li>
                    <li>
                        <strong>
                            API externes
                        </strong>
                        :
                        <ul>
                            <li>
                                <strong>
                                    France Travail
                                </strong>
                                : Récupération d'offres d'emploi pour élargir les options de candidature des utilisateurs.
                            </li>
                            <li>
                                <strong>
                                    Adzuna
                                </strong>
                              
                                : API de recherche d'emploi pour enrichir les offres disponibles dans l'application.
                            </li>
                            <li>
                                <strong>
                                    Jooble   </strong>    : API de recherche d'emploi pour enrichir les offres disponibles dans l'application.
                                
                            </li>
                            <li>
                                <strong>
                                    Mistral AI
                                </strong>
                                : Pour la génération de lettre de motivation personnalisées.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong>
                            Guzzle
                        </strong>
                        : Client HTTP pour effectuer des requêtes API externes (POST, GET) depuis Symfony.
                    </li>
                    <li>
                        <strong>
                            Composer
                        </strong>
                        : Gestionnaire de dépendances PHP pour intégrer les bibliothèques nécessaires.
                    </li>
                    <li>
                        <strong>
                            Yarn
                        </strong>
                        : Gestionnaire de packages JavaScript pour les dépendances front-end.
                    </li>
                    <li>
                        <strong>
                            GitHub
                        </strong>
                        : Hébergement du code source et gestion de version pour le suivi des modifications du projet.
                    </li>
                </ul>
            </div>
        </div>

    {% endblock %}
    