<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    /* Style général pour le fond du popup */
    #cookiePopup {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #333;
      color: white;
      padding: 20px;
      text-align: center;
      z-index: 1000;
      bottom: 7rem;
    }
    /* Boutons */
    .cookie-buttons {
      margin-top: 10px;
    }
    .cookie-btn {
      padding: 10px 20px;
      margin: 0 5px;
      color: white;
      background-color: #007bff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .cookie-btn-secondary {
      background-color: #6c757d;
    }
  </style>
</head>
<body>
  <!-- Popup Cookie -->
  <div id="cookiePopup">
    <p>Nous utilisons des cookies pour améliorer votre expérience sur notre site. En continuant, vous acceptez notre utilisation des cookies.</p>
    <div class="cookie-buttons">
      <button class="cookie-btn" onclick="acceptCookies()">Accepter</button>
      <button class="cookie-btn cookie-btn-secondary" onclick="openSettings()">Refuser</button>
    </div>
  </div>

  {{ encore_entry_script_tags('cookies') }}
</body>
</html>
