<form method="post" action="{{ path('app_address_book_delete', {'id': address_book.id}) }}" onsubmit="Êtes vous sûr de vouloir supprimer ce contact ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ address_book.id) }}">
    <button class="btn text-danger">{{ button_label|default('Delete') }}</button>
</form>
