{% extends 'base.html.twig' %}


{% block body %}
<div class="bg-div">
    <h1>Editer un contact</h1>

    {{ include('address_book/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

<div class="d-flex justify-content-end">
    {{ include('address_book/_delete_form.html.twig', {'button_label': 'Supprimer'}) }}
</div>
    </div
{% endblock %}
