{% extends 'base.html.twig' %}


{% block body %}

<div class="bg-div">
    <h1>Ajouter un contact</h1>
    {{ include('address_book/_form.html.twig', {button_label:'Valider'}) }}
</div>

{% endblock %}
